<div class="overlay">
  <div class="ui-panel uk-animation-scale-down" *ngIf="!intermission; else showImage">
    <header>
      <div class="logo">
        Systemet<span>Rea</span>
      </div>
    </header>

    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <button class="uk-button btn-google" type="button" uk-tooltip="Currently unavailable"><span class="icon-g"></span> Login with Google</button>
        <div class="subtitle">OR</div>
        <input type="email" name="email" email [(ngModel)]="credentials.email" required placeholder="E-mail" />
        <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="Password" />
        <div [hidden]="this.errorCount < 0"
          class="uk-text-danger uk-animation-shake">{{errorMessage}}</div>
          <button class="uk-button btn-login" type="submit" [disabled]="!loginForm.form.valid" [class.disabled]="!loginForm.form.valid && !loginForm.form.pristine">Login</button>
      </div>
    </form>
  </div>
  <ng-template #showImage>
    <div class="uk-position-center" style="text-align: center;">
      <h1 class="uk-text-danger uk-position-cover" *ngIf="this.counter">{{counter}}</h1>
      <img src="/assets/images/intermission.jpg">
    </div>
  </ng-template>
</div>
