<div *ngIf="profile" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #scrollup-dropdown">
    <div class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <div>
                <ul class="uk-navbar-nav">
                    <li>
                        <a routerLink="/" class="uk-navbar-item uk-logo"><img src="/assets/images/logo2.png" /></a>
                    </li>
                    <li>
                        <a routerLink="/trends">Trends</a>
                    </li>
                    <li>
                        <a routerLink="/articles">Articles</a>
                    </li>
                    <li>
                        <a routerLink="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-navbar-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li *ngIf="isAdmin">
                        <a routerLink="/admin">
                            Admin
                        </a>
                    </li>
                    <li>
                        <a class="uk-navbar-toggle" (click)="showSidebar()"><span class="" uk-icon="icon: more"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="profile">
    <div class="uk-offcanvas-bar profile">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <div class="profile-icon">
            <i class="fal fa-user-circle"></i>
        </div>

        <div class="profile-info">
            <h4>{{profile.name}}</h4>
            <div>{{profile.email}}</div>

        <button *ngIf="isLoggedIn()" (click)="logout()" class="uk-button uk-button-primary uk-margin">
            Logout
        </button>
    </div>
</div>
