<div class="uk-overflow-auto">
  <table *ngIf="articles" class="uk-table uk-table-divider uk-table-small uk-table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>prissänkt %<span uk-icon="chevron-down"></span></th>
        <th>artikelnummer</th>
        <th>kategori</th>
        <th>årgång</th>
        <th>nytt pris</th>
        <th>tidigare pris</th>
        <!-- <th>betyg</th> -->
        <th>länk</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles" [ngClass]="{'strikeout': isSoldOut(article.lastModified)}">
        <td>
          <a [routerLink]="['/articles']" [queryParams]="{id: article.artikelid, varugrupp: filteringVarugrupp}" (click)="checkBusy($event)">{{article.namn}} {{article.namn2}}</a>
        </td>
        <td>{{article.prissanktProcent}}</td>
        <td>{{article.nr}}</td>
        <td>{{article.varugrupp}}</td>
        <td>{{article.argang}}</td>
        <td>{{article.prisinklmoms}}</td>
        <td>{{article.tidigarePris}}</td>
        <!-- <td uk-tooltip="title: Öppna upp artikeln för att sätta ett betyg">
          <star-rating [starType]="'svg'" [readOnly]="true" [rating]="article.rating || 0"></star-rating>
        </td> -->
        <td>
          <a target="_blank" href="https://www.systembolaget.se/sok-dryck/?searchquery={{article.nr}}"><img class="btn-systemet" src="/assets/images/systemet-logo.png" /></a>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="#" uk-totop uk-scroll></a>
</div>
